/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

/* HTML SETTINGS */
* {
    box-sizing: border-box;
}

html {
    font: 400 62.5% Arial, Helvetica, sans-serif;
}

/* MAIN */
main {
    background-image: url('/img/Header1.jpg');
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

/* NAVIGATION */
header {
    display: flex;
    justify-content: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    margin: 0px 20px;
}

header li a {
    text-decoration: none;
    color: rgb(243, 242, 242);
    text-transform: uppercase;
    font-weight: 700;
}

.mobileNav {
    display: none;
}

/* PRIMARY FOCUS */
.primaryFocus {
    display: flex;
    width: 100%;
    max-height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-bottom: 100px;
}

.primaryFocus h1 {
    font-family: 'Hurricane', cursive;
    background-image: linear-gradient(90deg, rgba(180,156,58,1) 0%, rgba(253,29,29,1) 50%, rgba(167,34,160,1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-image: linear-gradient(90deg, rgba(180,156,58,1) 0%, rgba(253,29,29,1) 50%, rgba(167,34,160,1) 100%);
    -webkit-background-clip: text;
    -webkit-color: transparent;
    -ms-background-image: linear-gradient(90deg, rgba(180,156,58,1) 0%, rgba(253,29,29,1) 50%, rgba(167,34,160,1) 100%);
    -ms-background-clip: text;
    -ms-color: transparent;
    padding: 20px;
    font-size: 10rem;
}

.primaryFocus p {
    color: rgb(243, 242, 242);
    font-weight: bold;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 2px;
}

.primaryFocus ul {
    list-style: none;
    padding: 0;
}

.primaryFocus li {
    display: inline-block;
    margin: 0 20px;
}

.primaryFocus a {
    color: rgb(243, 242, 242);
    font-size: 3rem;
}

/* OUR SERVICES */
.services {
    font-size: 1.2rem;
    background-color: rgb(243, 242, 242);
    padding: 100px;
}

.services h2 {
    font-family: 'Hurricane', cursive;
    margin: auto;
    text-align: center;
    width: 30%;
    font-size: 5rem;
}

.services > p {
    font-style: italic;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.serviceList {
    display: flex;
    justify-content: space-around;
}

.topService {
    margin-bottom: 50px;
}

.serviceList section {
    width: 45%;
}

.serviceList h3 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
    width: 50%;
}

.serviceList span {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    display: block;
    text-align: center;
    background-color: #000;
    color: rgb(243, 242, 242);
    width: 20%;
    margin: auto;
    padding: 2px;
}

.serviceList a {
    color:rgb(170, 47, 47);
}

/* STAFF */
.staff {
    font-size: 1.2rem;
    background-color: #fff;
    padding: 100px;
}

.staff h2 {
    font-family: 'Hurricane', cursive;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 30%;
    font-size: 5rem;
}

.staffContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

.alicia, .brandon, .tiffany, .starr {
    border: 2px solid #000;
    width: 350px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    border-top: 20px solid #000;

}

.staff span {
    display: block;
    text-align: center;
    background-color: #000;
    padding: 10px 0;
    color: rgb(243, 242, 242);
    width: 100%;
}

.staff strong {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
}

.staff em {
    display: block;
}

.alicia {
    background-image: url('/img/Alicia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.brandon {
    background-image: url('/img/Brandon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.tiffany {
    background-image: url('/img/Tiffany.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.starr {
    background-image: url('/img/Starr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* ABOUT US */
.pickMe {
    font-size: 1.2rem;
    background-color: rgb(243, 242, 242);
    padding: 100px;
}

.chooseMe {
    width: 60%;
    margin: auto;
}

.chooseMe h2 {
    font-family: 'Hurricane', cursive;
    text-align: center;
    padding: 0;
    margin: auto;
    width: 30%;
    font-size: 5rem;
}

/* TESTIMONIALS */
.reviews {
    padding: 100px;
    font-size: 1.2rem;
    background-color: #fff;
}

.testimonials {
    display: flex;
    justify-content: space-evenly;
}

.reviews h2 {
    font-family: 'Hurricane', cursive;
    text-align: center;
    padding: 0 0 50px 0;
    margin: auto;
    width: 30%;
    font-size: 5rem;
    display: block;
}

.testimonials section {
    width: 300px;
}

.testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid rgb(39, 38, 38);
    display: block;
    margin: auto;
}

.testimonials h6 {
    font-size: 2rem;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    color:rgb(39, 38, 38);
}

.ratings {
    display: flex;
    justify-content: center;
}

.ratings i {
    color: gold;
    padding: 0 3px;
}

/* BOOKING */
.booking {
    font-size: 1.2rem;
    background-color: rgb(243, 242, 242);
    padding: 100px;
}

.booking h2 {
    font-family: 'Hurricane', cursive;
    text-align: center;
    padding: 0;
    margin: auto;
    width: 30%;
    font-size: 5rem;
}

.booking p {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

table {
    margin: auto;
}

.hours {
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
}

.weekday {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    background-color: #000;
    color: rgb(243, 242, 242);
    padding: 5px 15px 5px 5px;
}

.businessHours {
    text-align: center;
    width: 200px;
    padding: 5px;
    border: 1px solid #000;
}

/* CONTACT US */
.contact {
    font-size: 1.2rem;
    background-color: #fff;
    padding: 100px;
}

.contact h2 {
    font-family: 'Hurricane', cursive;
    text-align: center;
    padding: 0;
    margin: auto;
    width: 30%;
    font-size: 5rem;
}

.contact p {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.contact form {
    width: 65%;
    margin: auto;
    padding: 50px;
    background-color: rgb(243, 242, 242);
}

.formContainer {
    display: flex;
    justify-content: space-between;
}

form label {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000;
    font-size: 1.3rem;
    display: none;
}

.formName, .formPhone, .formEmail {
    width: 32%;
}

.formMessage {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

#contactName, #contactPhone, #contactEmail {
    background-color:#fff;
    width: 100%;
    border: none;
    border: 10px solid #fff;
}

#contactMessage {
    background-color: #fff;
    width: 100%;
    border: none;
    border: 10px solid #fff;
    height: 200px;
    resize: none;
}

input[name="contactSubmit"] {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 0;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color:rgb(39, 38, 38);
    width: 100%;
    font-size: 1.2rem;
    color:rgb(243, 242, 242);
    padding: 30px;
}

footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

address {
    font-style: normal;
    text-align: left;
}

footer address span {
    display: block;
}

address strong {
    display: block;
    font-weight: 400;
}

footer a {
    color: rgb(243, 242, 242);
    text-decoration: none;
}

address:first-child {
    font-weight: bold;
}

footer nav {
    text-align: right;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer nav li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

footer p {
    width: 100%;
    text-align: center;
}

/*************************************

    LARGE SCREEN

*************************************/

@media all and (max-width: 1620px) and (min-width: 1200px) {
    /* TESTIMONIALS */
    .reviews h2 {
        width: 40%;
    }

    /* STAFF */
    .staffContain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        width: 60%;
        margin:auto;
    }

    .alicia {
        grid-column: 1;
        grid-row: 1;
    }

    .brandon {
        grid-column: 2;
        grid-row: 1;
    }

    .tiffany {
        grid-column: 1;
        grid-row: 2;
    }

    .starr {
        grid-column: 2;
        grid-row: 2;
    }
}

/*************************************

    MEDIUM SCREEN
    
*************************************/

@media all and (max-width: 1199px) and (min-width: 800px) {
    /* OUR SERVICES */
    .services {
        padding: 50px;
    }

    .services h2 {
        width: 70%;
    }

    .services > p {
        width: 70%;
    }

    .serviceList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        width: 100%;
        margin: auto;
    }

    .serviceList:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .serviceList:last-child {
        grid-column: 2;
        grid-row: 1;
    }

    .serviceList h3 {
        width: 90%;
    }

    .serviceList section {
        width: 100%;
        text-align: justify;
    }

    .topService {
        margin-bottom: 20px;
    }

    /* STAFF */
    .staff {
        padding: 50px;
    }

    .staff h2 {
        width: 70%;
    }

    .staffContain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        width: 60%;
        margin:auto;
    }

    .alicia {
        grid-column: 1;
        grid-row: 1;
    }

    .brandon {
        grid-column: 2;
        grid-row: 1;
    }

    .tiffany {
        grid-column: 1;
        grid-row: 2;
    }

    .starr {
        grid-column: 2;
        grid-row: 2;
    }

    /* ABOUT US */
    .pickMe {
        padding: 50px;
    }

    .chooseMe {
        width: 80%;
        margin: auto;
    }

    .chooseMe h2 {
        width: 50%;
    }

    /* TESTIMONIALS */
    .reviews {
        padding: 50px;
    }

    .reviews h2 {
        width: 70%;
    }

    .testimonials section {
        width: 30%;
        text-align: justify;
    }

    /* BOOKING */
    .booking {
        padding: 50px;
    }

    .booking h2 {
        width: 60%;
        margin-bottom: 20px;
    }

    .booking p {
        width: 90%;
    }

    /* CONTACT US */
    .contact {
        padding: 50px;
    }

    .contact h2 {
        width: 60%;
    }

    .contact p {
        width: 90%;
    }

    .contact form {
        width: 90%;
    }
}

/*************************************

    SMALL SCREEN
    
*************************************/

@media all and (max-width: 799px) {
    /* NAVIGATION */
    header {
        display: flex;
        justify-content: flex-start;
    }

    .menu {
        position: fixed;
        transform: translateY(-105%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #000;
        color: rgb(243, 242, 242);
        padding-top: 4rem;
        height: 250px;
    }

    .mobileNav {
        display: block;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 10px;
        border: none;
        background-color: #000;;
        color: rgb(243, 242, 242);
        font-size: 3rem;
        border-radius: 100%;
    }

    .closeIcon {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .showMenu {
        transform: translateY(-5%);
    }

    .menuItem {
        display: block;
        text-align: center;
    }

    /* PRIMARY FOCUS */
    .primaryFocus h1 {
        font-size: 7rem;
    }

    .primaryFocus p {
        font-size: 1rem;
    }

    /* OUR SERVICES */
    .services {
        padding: 30px;
    }

    .services h2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .services > p {
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
    }

    .serviceList {
        display: block;
    }

    .topService {
        margin-bottom: 0;
    }

    .serviceList section {
        margin-top: 30px;
        width: 100%;
        text-align: justify;
    }

    .serviceList h3 {
        width: 100%;
    }

    /* STAFF */
    .staff {
        padding: 30px;
    }

    .staff h2 {
        width: 100%;
        margin-bottom: 30px;
    }

    .staffContain {
        display: block;
    }

    .alicia, .brandon, .tiffany, .starr {
        margin: 20px auto;
    }

    /* ABOUT US */
    .pickMe {
        padding: 30px;
    }

    .chooseMe {
        width: 100%;
        text-align: justify;
    }

    .chooseMe h2 {
        width: 100%;
    }

    /* TESTIMONIALS */
    .reviews {
        padding: 30px;
    }

    .testimonials {
        display: block;
    }

    .reviews h2 {
        width: 100%;
        padding-bottom: 30px;
    }

    .testimonials section {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    /* BOOKING */
    .booking {
        padding: 30px;
    }

    .booking h2 {
        width: 100%;
    }

    .booking p {
        width: 100%;
    }

    /* CONTACT US */
    .contact {
        padding: 30px;
    }

    .contact h2 {
        width: 100%;
    }

    .contact p {
        width: 100%;
        text-align: center;
    }

    .contact form {
        width: 100%;
        padding: 15px;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
    }
    .formName, .formPhone, .formEmail {
        width: 100%;
        margin-bottom: 10px;
    }

    .formMessage {
        margin-top: 0;
    }

    input[name="contactSubmit"] {
        margin-top: 10px;
        padding: 10px 40px;
    }
}

/*************************************

    MOBILE SCREEN
    
*************************************/

@media all and (max-width: 480px) {
    .primaryFocus h1 {
        font-size: 5rem;
    }

    .primaryFocus p {
        margin-top: -10px;
    }

    .services h2 {
        font-size: 4rem;
    }

    .staff h2 {
        font-size: 4rem;
    }

    .chooseMe h2 {
        font-size: 4rem;
    }

    .reviews h2 {
        font-size: 4rem;
    }

    .booking h2 {
        font-size: 4rem;
    }

    .contact h2 {
        font-size: 4rem;
    }

    .footerNav li {
        display: block;
        text-align: right;
    }
}